* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans",sans-serif;
    color: #585a61;
    overflow: scroll;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
#header {
    width: 100%;
    height: 42px;
    z-index: 1;
    transition: all 0.5s;
    z-index: 997;
    background-color: pink;
    padding: 15px 0;

}
.container {
    max-width: 1140px;
    height: 42px;
    padding: 0 15px;
    margin: 0 auto;
   position: relative;
    
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.d-flex {

    display: flex!important;
}
.logo {
    float: left;
    width: 37.79px;
    height: 100%;
}
.logo img {
    width: 37.79px;
}
.menu1 {
    position: absolute;
    right: 0px;
    top: opx;
    bottom: 0px;
    width: 454px;
    height: 100%;
}
.menu1 ul {
    height: 100%;
}
.menu1 li {
    list-style: none;
    float: right;
    height: 100%;
}
.menu1 li a {
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 0 19px;
    margin-top: 9px;
    font-size: 14px;
    
}
.menu1 li .Github {
    border: 1px solid black;
    margin-top: -3px;
    line-height: 42px;
    background-color:#5777ba;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}

