* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: "Open Sans",sans-serif;
    color: #585a61;
    overflow: scroll;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#header {
    width: 100%;
    height: 42px;
    z-index: 1;
    transition: all 0.5s;
    z-index: 997;
    background-color: pink;
    padding: 15px 0;

}
.container {
    max-width: 1140px;
    height: 42px;
    padding: 0 15px;
    margin: 0 auto;
   position: relative;
    
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.d-flex {

    display: flex!important;
}
.logo {
    float: left;
    width: 37.79px;
    height: 100%;
}
.logo img {
    width: 37.79px;
}
.menu1 {
    position: absolute;
    right: 0px;
    top: opx;
    bottom: 0px;
    width: 454px;
    height: 100%;
}
.menu1 ul {
    height: 100%;
    display: flex;
}
.menu1 li {
    list-style: none;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu1 li a {
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 0 17px;
    margin: 9px 0px;
    font-size: 14px;
    color: #47536e;
    transition: all 0.5s;
    
}
.menu1 li a:hover {
    background-color: #7fd3d6;
    border:5px solid #7fd3d6;
        border-radius: 25px;
}
.menu1 li .Github {
    border: 1px solid pink;
    margin-top: 6px;
    line-height: 42px;
    background-color:#13d8df;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    width: 50px;
    margin-left: 20px;
    text-align: center;
    transition: all 0.5s;

}

.box1 {
    height: 303px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;


}

.box3 {
    width: 1140px;
    height: 303px;
    margin: 0 auto;
    display: flex;
}

.box4 {
    height: 100%;
    width: 1140px;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.box5 {
    width: 540px;
    height: 236.4px;

    padding-top: 33.3px;



}
#box5h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
}
#box5h2 {
    color: #515f7d;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
}
.box5 a {
    text-decoration: none;
    height: 22.4px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 46px;
    padding-right: 24px;
    border: pink 1px solid;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    transition: all 1s;
    background-color: pink;
    cursor: pointer;


}
.box5 a:hover {
   background-color: #13d8df;
}
.box5 .githubXiazai {
    background-image: url(image/小屋.png);
    background-repeat: no-repeat;
    background-position: 12px 3px;
}
.box5 .LanzouXiazai {
    background-image: url(image/云.png);
    background-repeat: no-repeat;
    background-position: 12px 6px;
}
.box6 {
    width: 540px;
    height: 303px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 189.6px;
}
.box6 img{
    width: 540px;
}
.box-2 {
    width: 100%;
    height: 524px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-2-1 {
    margin: 0 195.5px;
    padding: 0 15px;
    width: 1110px;
    height: 524px;

}
.box-2-2 {
    width: 1110px;
    height: 82.4px;
    padding-bottom: 30px;
}
.box-2-2 h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.box-2-2 p {
    text-align: center;
}
.box-2-3 {
    width: 1110px;
    height: 412px;
    display: flex;
    justify-content: space-between;
}
.box-2-4 {
    float: left;
    width: 647.5px;
    height: 100%;
}
.box-2-5 {
    height: 100%;
    width: 462.5px;
    float: left;

}
.box-2-5 img {
    width: 250px;
    margin-top: 200px;
    padding-left: 110px;
}
.box-2-6 {
    width: 100%;
    height: 323.75px;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;


}
.box-2-6 div {
    width: 300px;
    height: 99.8px;
    margin-left: 0px!important;
    margin-top: 30px;


}
.box-2-7 {
    display: flex;
    height: 100px;
    width: 647.5px!important;
}
.box-2-8 {
    display: flex;
    height: 100px;
    width: 647.5px!important;
}
.box-2-9 {
    display: flex;
    height: 100px;
    width: 647.5px!important;
}
.box-2-6 .biao{
    font-size: 20px;
    font-weight: 700;
    color: #585a61;
    margin-left: 10px;
}
.box-2-6 p{
    font-size: 15px;
    color: #979aa1;
    margin-left: 60px;
}
/* #liu {
    background-image: url(image/浏览.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
}
#bo {
    background-image: url(image/播放.png);
    background-repeat: no-repeat;
    background-position: -3px -8px;
}
#T {
    background-image: url(image/TVlive.png);
    background-repeat: no-repeat;
    background-position: 0px -8px;
}
#fen {
    background-image: url(image/分享.png);
    background-repeat: no-repeat;
    background-position: -5px -8px;
}
#xia {
    background-image: url(image/下载.png);
    background-repeat: no-repeat;
    background-position: 0px -5px;
}
#qi {
    background-image: url(image/其他.png);
    background-repeat: no-repeat;
    background-position: 0px -5px;
} */
#liu {
    font-size: 40px;
    font-family: 'icomoon';   
}
.Jietu {
    width: 1110px;
    height: 112.4px;
    margin: 0 auto;
    padding-top: 100px;
}
.Jietu h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.Jietu p {
    font-family: "Open Sans", sans-serif;
    color: #585a61;
    text-align: center;

}
.problem {
    width: 100%;
    height: 440px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 100px;

}
.Wenti {
    width: 1110px;
    height: 58.4px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.Wenti h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.problemfarther {
    display: flex;
    justify-content: center;
}
.bottom {
    width: 100%;
    height: 325px;
    padding-bottom: 30px;
}
.bottom-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: center;
    background-color: #9efcff;;
}
.bottom-2 {
    width: 1110px;
    margin: 0px 195.2px;
    padding: 0px 15px;
    height: 172px;
}
.bottom-2 ul {
    display: flex;
    height: 100%;
}
.bottom-2 ul li {
    flex: 1;
    list-style: none;

    margin-top: 15px;

}
.bottom-2 h3 {
    color: #47536e;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 18px;
}
.bottom-2 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #8a8c95;
}
.bottom-2 h4 {
    color: #47536e;
    padding-bottom: 20px;
}
.bottom-2 strong {
    display: block;
    margin-top: -3px;
}
@font-face {
    font-family:
        'iconfont'
    ;
    src: url('iconfont.eot'
        );
    src: url('iconfont.eot?#iefix'
        ) format('embedded-opentype'
        ), url('iconfont.woff'
        ) format('woff'
        ), url('iconfont.ttf'
        ) format('truetype'
        ), url('iconfont.svg#iconfont'
        ) format('svg'
        );
}
.iconfont {
    font-family:
        "iconfont"
         !important;
    /* font-size: 34px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    padding-top: 5px; */
}
.zhou {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.zhou-1
{
    width: 1110px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border:1px #ffffff solid;
    border-radius: 100px;

}
.zhou-2 {
    width: 1110px;
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: pink;
    display: flex;
   
}
.zhou-3 {
    width: 1110px;
    height: 500px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:#9efcff;
    display: flex;
}
.zhou-4 {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zhou-4 .Bofang {
    height: 400px;
    width: 200px;
}
.zhou-4 .Bofang ul {
    display: flex;
    height: 400px;
    width: 200px;
    flex-direction: column;
}


.zhou-4 .Bofang ul li {
    flex:1;
    /* height: 66.6px;
    width: 100%; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.zhou-4 .Bofang ul li:hover {
    background-color: rgb(87, 235, 255);
    
}
.zhou-4 .Bofang ul li h3 {
    font-size: 24px;
    font-weight: 400;
    color: #4f7396
    
}

.zhou-4 .Bofang ul li svg {
    font-size: 30px;
    transition: all 0.5s;
}
.zhou-4 .Bofang ul li svg:hover {
    font-size: 50px;
}
.zhou-5 {
    width: 910px;
    height: 100%;
    background-color: rgb(109, 255, 211);
}
.zhou-2 .Touxiang {

    width: 200px;
    height: 100%;


}
.zhou-2 .title {
    width: 910px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.zhou-2 .title h2 {
    color:#5777BA;
    font-weight: 400;
    font-size: 40px;
}
.zhou-2 .title h4 svg {
    transition: all 0.5s;
    font-size: 50px;
}
.zhou-2 .title h4 svg:hover {
    font-size: 65px;
}


























